<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="#">Trang chủ</a>
      </li>
      <li class="active">Quản lý đơn hàng</li>
    </ul><!-- /.breadcrumb -->
  </div>
  <div class="page-content"> 
    <div class="row">
      <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
                    <p-panel class="ui-fluid">
                      <p-header>
                        <div class="p-d-flex p-jc-between">
                          <div>Item 1</div>
                          <div>Item 2</div>
                      </div>
                      </p-header>
                      <form   novalidate>
                        <div class="p-fluid">
                          <div class="p-field p-grid">
                              <label for="firstname4" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Firstname</label>
                              <div class="p-col-12 p-md-10">
                                  <input id="firstname4" type="text" pInputText> 
                              </div>
                          </div>
                          <div class="p-field p-grid">
                              <label for="lastname4" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Lastname</label>
                              <div class="p-col-12 p-md-10">
                                  <input id="lastname4" type="text" pInputText> 
                              </div>
                          </div>
                      </div>
                      </form>
                    </p-panel>








        <!-- PAGE CONTENT ENDS -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.page-content -->
 
