<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="ace-icon fa fa-home home-icon"></i>
      <a href="#">Trang chủ</a>
    </li>
    <li class="active">Quản lý người dùng</li>
  </ul>
  <!-- /.breadcrumb -->
</div>
<div class="row">
  <div class="col-xs-12">
    <!-- PAGE CONTENT BEGINS -->
    <p-panel header="Tìm kiếm">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-sm-1 control-label no-padding-right"> Tài khoản </label>
          <div class="col-sm-11">
            <input type="text" placeholder="Tài khoản" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label no-padding-right"> Họ tên</label>
          <div class="col-sm-11">
            <input type="text" placeholder="Họ tên" style="width: 100%;" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label no-padding-right"></label>
          <div class="col-sm-11">
            <button class="btn btn-sm btn-primary">Tìm kiếm</button>
          </div>
        </div>
      </form> 
    </p-panel>
    <p-table [value]="cars" styleClass="p-datatable-gridlines">
      <ng-template pTemplate="header">
        <tr>
          <th>Vin</th>
          <th>DT</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-car>
        <tr>
          <td>{{ car.name }}</td>
          <td>{{ car.dt }}</td>
        </tr>
      </ng-template>
    </p-table>
    <!-- PAGE CONTENT ENDS -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
